<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810228867620-ejciusg6b0l5qk79i376u020tk53350s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810228867620-ejciusg6b0l5qk79i376u020tk53350s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>810228867620-d4tn3qog0ngjdp4bg4inu7kh287rfca2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Gnj452M6E8Otw6PHFGjY2RdWp3ms4nw</string>
	<key>GCM_SENDER_ID</key>
	<string>810228867620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upgrade.companio</string>
	<key>PROJECT_ID</key>
	<string>dotvet</string>
	<key>STORAGE_BUCKET</key>
	<string>dotvet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810228867620:ios:faad74b319e275de802eb1</string>
	<key>DATABASE_URL</key>
	<string>https://dotvet.firebaseio.com</string>
</dict>
</plist>